<% content_for(:title) { @report.account_name } %>
<%= render "accounts/account_header", current: "Detalle" %>

<% if @report.balances.any? %>
<%= account_month_navigation %>
<section class="account-summary">
  <h2><%= l(@report.parsed_date, format: :month).capitalize %></h2>

  <table>
    <tbody>
      <tr>
        <th>Saldo Inicial</th>
        <td><%= currency @report.starting_balance, zero: true %></td>
      </tr>
      <tr>
        <th>Transferencias</th>
        <td><%= currency @report.transfers, diff: true, zero: true %></td>
      </tr>
      <tr>
        <th>Rendimientos</th>
        <td><%= currency @report.earnings, diff: true, zero: true %></td>
      </tr>
      <tr>
        <th>Saldo Final</th>
        <td><%= currency @report.final_balance, zero: true %></td>
      </tr>
      <tr>
        <th>TIR</th>
        <td><%= currency @report.irr * 100.0, zero: true %>%</td>
      </tr>
    </tbody>
  </table>
</section>

<main>
  <%= render "accounts/balance_sheet" %>
</main>
<% end %>
