<h1>Última actualización</h1>

<table>
  <thead>
    <tr>
      <th style="padding: 5px 10px;" rowspan="2">cuenta</th>
      <th style="padding: 5px 10px;" rowspan="2">saldo actual</th>
      <th style="padding: 5px 10px;" colspan="3">ganancias en el último</th>
    </tr>

    <tr>
      <th style="padding: 5px 10px;">día</th>
      <th style="padding: 5px 10px;">semana</th>
      <th style="padding: 5px 10px;">mes</th>
    </tr>
  </thead>

  <tbody>
    <% total = {current: BigDecimal(0), day: BigDecimal(0), week: BigDecimal(0), month: BigDecimal(0)} %>
    <% @report.each do |account, report| %>
    <% %i[current day week month].each { |period| total[period] += report.fetch(period, BigDecimal(0)) } %>
    <tr>
      <td style="padding: 5px 10px;"><%= account %></td>
      <td style="text-align: right; padding: 5px 10px"><%= report[:current] ? currency(report[:current]) : "Error de descarga" %></td>
      <td style="text-align: right; padding: 5px 10px"><%= currency report[:day] %></td>
      <td style="text-align: right; padding: 5px 10px"><%= currency report[:week] %></td>
      <td style="text-align: right; padding: 5px 10px"><%= currency report[:month] %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th style="padding: 5px 10px;">Total</th>
      <th style="text-align: right; padding: 5px 10px"><%= currency total[:current] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency total[:day] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency total[:week] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency total[:month] %></th>
    </tr>
  </tfoot>
</table>
