

<table>
  <thead>
    <tr>
      <th style="padding: 5px 10px;" rowspan="2">Cuenta</th>
      <th style="padding: 5px 10px;" rowspan="2">Saldo actual</th>
      <th style="padding: 5px 10px;" colspan="3">Ganancias último</th>
    </tr>

    <tr>
      <th style="padding: 5px 10px;">día</th>
      <th style="padding: 5px 10px;">semana</th>
      <th style="padding: 5px 10px;">mes</th>
    </tr>

    <tr>
      <th style="padding: 5px 10px;">Total</th>
      <th style="text-align: right; padding: 5px 10px"><%= currency @report.totals[:current] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency @report.totals[:day] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency @report.totals[:week] %></th>
      <th style="text-align: right; padding: 5px 10px"><%= currency @report.totals[:month] %></th>
    </tr>
  </thead>

  <tbody>
    <% @report.details.each do |account, report| %>
    <tr>
      <td style="padding: 5px 10px;"><%= account %></td>
      <td style="text-align: right; padding: 5px 10px"><%= report[:current] ? currency(report[:current]) : "Error de descarga" %></td>
      <td style="text-align: right; padding: 5px 10px"><%= currency report[:day] %></td>
      <td style="text-align: right; padding: 5px 10px"><%= currency report[:month] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @errors.any? %>
<h2 style="font-size: 1em;">Desafortunadamente, vimos los siguientes errores:</h2>
<ul>
  <% @errors.each do |error| %>
  <li>
    <b><%= error[:account] %></b>:
    <i><%= error[:error] %></i>
    <%= error[:message] %>
  </li>
  <% end %>
</ul>
<% end %>
