<h1 style="font-size: 1.5em; text-align: center;"><%= @report.date %></h1>

<table style="text-align: center; border-collapse: collapse; width: 100%; max-width: 24em; margin: 1em auto;">
  <tr>
    <td>Saldo</td>
    <td
      colspan="2"
      style="font-size: 1.4em; font-weight: bold; padding: 0.25rem; text-align: right;"
    ><%= mcur @report.total %></td>
  </tr>
  <tr>
    <td>TDC</td>
    <td
      colspan="2"
      style="font-size: 1.4em; font-weight: bold; padding: 0.25rem; text-align: right;"
    ><%= mfx @report.todays_exchange_rate %></td>
  </tr>
  <tr>
    <td colspan="3" style="font-size: 0.75em;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" style="font-size: 0.75em; text-transform: uppercase; letter-spacing: 0.125em; border-bottom: 1px solid #ccc; padding: 0.25rem;">Comparado contra</td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid #ccc; padding: 0.25rem 0.25rem 0.20rem;">Hace</td>
    <td style="border-bottom: 1px solid #ccc; padding: 0.25rem 0.25rem 0.20rem;">1D</td>
    <td style="border-bottom: 1px solid #ccc; padding: 0.25rem 0.25rem 0.20rem;">1M</td>
  </tr>
  <tr>
    <td></td>
    <td style="
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.25rem;
      text-align: right;
    "><%= mdiff @report.day %></td>
    <td style="
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.25rem;
      text-align: right;
    "><%= mdiff @report.month %></td>
  </tr>
  <tr style="font-size: 0.875em;">
    <td style="padding: 0.25rem;">por TDC</td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mdiff @report.day_usd %></b></td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mdiff @report.month_usd %></b></td>
  </tr>
  <tr style="font-size: 0.875em;">
    <td style="padding: 0.25rem;">sin TDC</td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mdiff (@report.day - @report.day_usd)  %></b></td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mdiff (@report.month - @report.month_usd)  %></b></td>
  </tr>
  <tr style="font-size: 0.875em;">
    <td style="padding: 0.25rem;">TDC</td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mfx @report.day_exchange_rate  %></b></td>
    <td style="padding: 0.25rem; text-align: right;"><b><%= mfx @report.month_exchange_rate  %></b></td>
  </tr>
  <tr>
    <td colspan="3" style="font-size: 0.75em;">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" style="font-size: 0.75em;">¿Quieres ver éste reporte en el sitio? Entra <%= link_to "aquí", reports_dailies_url(d: @report.date) %></td>
  </tr>
</table>

<% if @report.errors.any? %>
<h2 style="font-size: 1em;">Vimos errores con los siguientes crawlers:</h2>
<ul>
  <% @report.errors.each do |error| %>
  <li>
    <b><%= error[:account] %></b>:
    <i><%= error[:error] %></i>
    <%= error[:message] %>
  </li>
  <% end %>
</ul>
<% end %>
