<h1 style="font-size: 1.5em;"> Reporte Diario: <%= @report.date %></h1>
<p>
  Saldo total: <b><%= mailc @report.total %></b><br />
  Tipo de Cambio MXN/USD: <b><%= mailc @report.todays_exchange_rate %></b>
</p>
<p>
  Rendimiento de hoy: <b><%= mailc @report.day %></b><br />
  Rendimiento de hoy por cambio MXN/USD: <b><%= mailc @report.day_usd %></b><br />
  Tipo de cambio ayer: <b><%= mailc @report.day_exchange_rate %></b>
</p>
<p>
  Rendimiento 30 días: <b><%= mailc @report.month %></b><br />
  Rendimiento 30 días por cambio MXN/USD: <b><%= mailc @report.month_usd %></b><br />
  Tipo de cambio hace 30 días: <b><%= mailc @report.month_exchange_rate %></b>
</p>
<p>
  Para más información, ve el <%= link_to "Detalle de Cuentas", accounts_url %>
</p>

<hr />

<% if @report.errors.any? %>
<h2 style="font-size: 1em;">Vimos errores con los siguientes crawlers:</h2>
<ul>
  <% @report.errors.each do |error| %>
  <li>
    <b><%= error[:account] %></b>:
    <i><%= error[:error] %></i>
    <%= error[:message] %>
  </li>
  <% end %>
</ul>
<% end %>
