<dl class="investment-summary">
  <div>
    <dt>Saldo <%= @summary.period.include?(Date.current) ? "Actual" : "Final" %></dt>
    <dd><%= currency @summary.final_balance %></dd>
  </div>

  <div>
    <dt>Saldo Inicial</dt>
    <dd><%= currency @summary.starting_balance %></dd>
  </div>

  <div>
    <dt>Rendimientos</dt>
    <dd><%= currency @summary.earnings, diff: true %></dd>
  </div>

  <div>
    <dt>Inversión Neta</dt>
    <dd><%= currency @summary.net_investment, diff: true %></dd>
  </div>

  <div>
    <dt>Depósitos</dt>
    <dd><%= currency @summary.deposits %></dd>
  </div>

  <div>
    <dt>Retiros</dt>
    <dd><%= currency @summary.withdrawals %></dd>
  </div>

  <div>
    <dt>TIR</dt>
    <dd><%= number_to_percentage @summary.irr * 100, precision: 2 %></dd>
  </div>
</dl>
