<%= form_for @balance,
  data: {
    controller: "edit-balance",
    "previous-balance": @balance.prev&.amount&.to_s || 0,
    "diff-days": @balance.prev ? (@balance.date - @balance.prev_validated.date).to_i : 0
  },
  url: url do |f| %>

<dl class="balance-results-summary">
  <div>
    <dt>TIR</dt>
    <dd data-edit-balance-target="irr">0%</dd>
  </div>

  <div>
    <dt>Rendimiento</dt>
    <dd data-edit-balance-target="diff">0.00</dd>
  </div>
</dl>

<div class="field">
  <div class="label">Fecha</div>
  <div><%= pretty_date @balance.date %></div>
</div>

<%= amount_field_for f %>

<div class="field">
  <%= f.label :transfers %>
  <%= f.text_field(
    :transfers,
    pattern: '^\-?\d*(\.\d{1,2})?$',
    class: "amount",
    data: {
      "edit-balance-target": "transfers",
      action: "change->edit-balance#updateResults"
    }
  ) %>
</div>

<%= f.button 'Guardar' %>
<% end %>
