<%= form_for :accounts,
  url: form_url,
  data: {
    controller: "form",
    "form-currency-url": currency_path(format: :json)
  } do |f| %>

  <%= self_updating_notice %>

  <%= f.fields_for :account do |g| %>
  <% @data.latest_balances.each do |account| %>
  <%= g.fields_for account.id.to_s do |h| %>
  <%= amount_field(h, account) %>
  <% end %>
  <% end %>
  <% end %>

  <section id="formTotal">
    <div data-target="form.total"></div>
  </section>

  <%= f.button 'Guardar' %>
<% end %>
