<%= form_for @balance,
  url: form_url,
  data: {
    controller: "form",
    "form-currency-url": currency_path(format: :json)
  } do |f| %>
  <div class="field" data-target="form.dateField">
    <%= f.label :date %>
    <%= f.date_select :date,
      {
        start_year: Date.today.year - 1,
        end_year: Date.today.year,
      },
      data: { action: 'change->form#updateTargetDate' } %>
  </div>

  <%= f.fields_for :balances do |g| %>
    <div class="field">
      <%= g.hidden_field :account_id %>
      <%= g.label :amount, g.object.account.name %>
      <%= amount_field(g) %>
    </div>
  <% end %>

  <section id="formTotal">
    <div data-target="form.total"></div>
  </section>

  <%= f.button 'Guardar' %>
<% end %>
