<%= form_for @balance,
  url: form_url,
  data: {
    controller: "form",
    "form-currency-url": currency_path(format: :json)
  } do |f| %>

  <% if @bitsos&.any? %>
  <%= @bitsos.count > 2 ? "Las cuentas" : "La cuenta" %> <b><%= @bitsos.map(&:name).join(", ") %></b> se <%= @bitsos.count > 2 ? "actualizan solas" : "actualiza sola" %>.
  <% end %>

  <%= f.fields_for :balances do |g| %>
    <div class="field">
      <%= g.hidden_field :account_id %>
      <%= g.label :amount, g.object.account.name %>
      <%= amount_field(g) %>
    </div>
  <% end %>

  <section id="formTotal">
    <div data-target="form.total"></div>
  </section>

  <%= f.button 'Guardar' %>
<% end %>
