<% content_for(:title) { "Saldos al #{l(@report.date, format: :numeric)}" } %>
<header>
  <section class="header-details">
    <span class="header-description">Saldos al <%= pretty_date(@report.date) %></span>
  </section>

  <h1><%= currency @report.total.amount %></h1>
  <%= diff(@report.total.difference) %>
</header>

<table>
  <tbody>
    <% @report.accounts.each do |account| %>
    <tr class="account-item">
      <td class="account-name">
        <%= link_to account_path(account.aid) do %>
          <%= account.name %>
        <% end %>
      </td>
      <td class="account-diff <%= 'neg' if account.difference.negative? %>">
        <%= diff account.difference %>
      </td>
      <td class="account-balance">
        <%= currency account.amount %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= balance_navigation(@report.next_date, @report.prev_date) %>

<% content_for :graph, percentage_graph_from(@report.accounts) %>
