<header>
  <span class="header-description">Valor Acumulado</span>
  <h1><%= number_to_currency @report.total.amount, unit: '' %></h1>
  <section class="details">
    <%= @report.date %>
    <%= diff(@report.total.diff) %>
  </section>
</header>

<table>
  <tbody>
    <% @report.accounts.each do |account| %>
    <tr class="account-item">
      <td class="account-name"><%= account.name %></td>
      <td class="account-balance">
        <%= number_to_currency account.amount, unit: '' %><br>
        <%= diff(account.diff) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
