<header>
  <section class="header-details">
    <span class="header-description">Saldos al <%= pretty_date(@report.date) %></span>
  </section>

  <h1><%= number_to_currency @report.total.amount, unit: '' %></h1>
  <%= diff(@report.total.diff) %>
</header>

<table>
  <tbody>
    <% @report.accounts.each do |account| %>
    <tr class="account-item">
      <td class="account-name">
        <%= link_to account_path(account.aid) do %>
          <%= account.name %>
        <% end %>
      </td>
      <td class="account-balance">
        <%= number_to_currency account.amount, unit: '' %><br>
        <%= diff(account.diff) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
