<%= form_for @balance, url: account_balance_path(params[:account_id], params[:id]) do |f| %>

<p><%= pretty_date @balance.date %></p>
<h2><%= currency @balance.amount %></h2>

<div class="field">
  <%= f.label :transfers %>
  <%= f.number_field(:transfers, pattern: '^\-?\d*(\.\d{1,2})?$', step: "0.01") %>
</div>

<%= f.button 'Guardar' %>
<% end %>

<section class="actions">
  <%= link_to "Cancelar", account_path(params[:account_id]) %>
</section>
