<% content_for(:title) { @report.account_name } %>
<%= render "accounts/account_header", current: "Estado Mensual" %>

<%= profit_and_loss_period_buttons %>

<% if @report.monthly_pnl.any? %>
<table class="balance-sheet profit-and-loss">
  <thead>
    <tr>
      <th>Mes</th>
      <th>Saldo Inicial</th>
      <th>Depósitos</th>
      <th>Retiros</th>
      <th>Rendimientos</th>
      <th>Saldo Final</th>
    </tr>
  </thead>

  <tbody>
    <% @report.monthly_pnl.each do |row| %>
    <tr>
      <td class="date"><%= link_to row.fetch(:month), account_movements_path(month: row.fetch(:month)) %></td>
      <td class="currency" data-name="Saldo Inicial"><%= currency row.fetch(:initial_balance) %></td>
      <td class="currency" data-name="Depósitos"><%= currency row.fetch(:deposits), diff: true %></td>
      <td class="currency" data-name="Retiros"><%= currency row.fetch(:withdrawals), diff: true %></td>
      <td class="currency" data-name="Rendimientos"><%= currency row.fetch(:earnings), diff: true %></td>
      <td class="currency" data-name="Saldo Final"><%= currency row.fetch(:final_balance) %></td>
    </tr>
    <% end %>
    <tr>
      <td class="date" colspan="2">Total</td>
      <td class="currency" data-name="Total Depositado"><%= currency @report.total_pnl.fetch(:deposits), diff: true %></td>
      <td class="currency" data-name="Total Retirado"><%= currency @report.total_pnl.fetch(:withdrawals), diff: true %></td>
      <td class="currency" data-name="Total Rendimientos"><%= currency @report.total_pnl.fetch(:earnings), diff: true %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>
