<% content_for :article do %>
<article id="daily-report">
  <h1>Reporte <span><%= @report.date %></span></h1>

  <dl>
    <div>
      <dt>Saldo</dt>
      <dd><%= currency @report.total %></dd>
    </div>

    <div>
      <dt>Tipo de Cambio MXN/USD</dt>
      <dd><%= fx @report.todays_exchange_rate %></dd>
    </div>
  </dl>

  <table class="">
    <tr><td colspan="3">Comparado contra</td></tr>
    <tr>
      <th>Hace</th>
      <th>1D</th>
      <th>1M</th>
    </tr>
    <tr>
      <td class="title">Saldo</td>
      <td class="currency"><%= currency @report.day, diff: true %></td>
      <td class="currency"><%= currency @report.month, diff: true %></td>
    </tr>
    <tr>
      <td class="title">Por TDC</td>
      <td class="currency"><%= currency @report.day_usd, diff: true %></td>
      <td class="currency"><%= currency @report.month_usd, diff: true %></td>
    </tr>
    <tr>
      <td class="title">Sin TDC</td>
      <td class="currency"><%= currency @report.day - @report.day_usd, diff: true %></td>
      <td class="currency"><%= currency @report.month - @report.month_usd, diff: true %></td>
    </tr>
    <tr>
      <td class="title">TDC</td>
      <td class="currency"><%= fx @report.day_exchange_rate %></td>
      <td class="currency"><%= fx @report.month_exchange_rate %></td>
    </tr>
  </table>

  <%= dailies_nav %>
</article>
<% end %>
