<%= form_for @account, data: { controller: "edit-account" } do |f| %>
  <div class="field">
    <%= f.label :platform %>
    <%= f.select :platform,
      Account.platforms.map { |type, i|
        [t("activerecord.attributes.account.platforms.#{type}"), type]
      }, {}, data: { "edit-account-target": "type", action: "change->edit-account#change" } %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id="no_platform_fields">
    <%= f.label :currency %>
    <%= f.select :currency, ["MXN", "USD"], {}, data: { target: "account.currency" } %>
  </div>

  <div class="field" id="bitso_fields" style="display: none;">
    <label for="account_settings_bitso_key">API Key</label>
    <input type="text"
           name="account[settings][bitso_key]"
           id="account_settings_bitso_key"
           value="<%= @account.settings&.fetch("bitso_key", nil) %>"
           disabled>
    <label for="account_settings_bitso_secret">API Secret</label>
    <input type="text"
           name="account[settings][bitso_secret]"
           id="account_settings_bitso_secret"
           value="<%= @account.settings&.fetch("bitso_secret", nil) %>"
           disabled>
  </div>

  <div class="field" id="credentials_fields" style="display: none;">
    <label for="account_settings_username">Usuario</label>
    <input type="text"
           name="account[settings][username]"
           id="account_settings_username"
           value="<%= @account.settings&.fetch("username", nil) %>"
           disabled>
    <label for="account_settings_password">Contraseña</label>
    <input type="text"
           name="account[settings][password]"
           id="account_settings_password"
           value="<%= @account.settings&.fetch("password", nil) %>"
           disabled>
  </div>

  <div class="field" id="apify_fields" style="display: none;">
    <label for="account_settings_username">Usuario</label>
    <input type="text"
      name="account[settings][username]"
      id="account_settings_username"
      value="<%= @account.settings&.fetch("username", nil) %>"
      disabled>
    <label for="account_settings_password">Contraseña</label>
    <input type="text"
      name="account[settings][password]"
      id="account_settings_password"
      value="<%= @account.settings&.fetch("password", nil) %>"
           disabled>
    <label for="account_settings_token">Apify Token</label>
    <input type="text"
      name="account[settings][token]"
      id="account_settings_token"
      value="<%= @account.settings&.fetch("token", nil) %>"
      autocomplete="off"
      spellcheck="false"
      disabled>
    <label for="account_settings_actor">Apify Actor</label>
    <input type="text"
      name="account[settings][actor]"
      id="account_settings_actor"
      value="<%= @account.settings&.fetch("actor", nil) %>"
      autocomplete="off"
      spellcheck="false"
      disabled>
  </div>

  <div class="field" id="afluenta_fields" style="display: none;">
    <label for="account_settings_username">Usuario</label>
    <input type="text"
           name="account[settings][username]"
           id="account_settings_username"
           value="<%= @account.settings&.fetch("username", nil) %>"
           disabled>
    <label for="account_settings_password">Contraseña</label>
    <input type="text"
           name="account[settings][password]"
           id="account_settings_password"
           value="<%= @account.settings&.fetch("password", nil) %>"
           disabled>
    <label for="account_settings_secret">2FA Secret</label>
    <input type="text"
           name="account[settings][secret]"
           id="account_settings_secret"
           value="<%= @account.settings&.fetch("secret", nil) %>"
           disabled>
    <label for="account_settings_token">Apify Token</label>
    <input type="text"
      name="account[settings][token]"
      id="account_settings_token"
      value="<%= @account.settings&.fetch("token", nil) %>"
      autocomplete="off"
      spellcheck="false"
      disabled>
    <label for="account_settings_actor">Apify Actor</label>
    <input type="text"
      name="account[settings][actor]"
      id="account_settings_actor"
      value="<%= @account.settings&.fetch("actor", nil) %>"
      autocomplete="off"
      spellcheck="false"
      disabled>
  </div>

  <%= f.button %>
<% end %>
