<section class="summary">
  <div class="big-number">
    <span>Saldo Actual</span>
    <em><%= currency @report.latest_balance.amount, zero: true %></em>
  </div>

  <div class="big-number">
    <span>Rendimiento Total</span>
    <em><%= currency @report.earnings, diff: true, zero: true %></em>
  </div>

  <div class="big-number">
    <span>TIR</span>
    <em><%= currency (@report.irr * 100), zero: true %>%</em>
  </div>
</section>

<section id="charts" data-controller="show-account">
  <script type="text/javascript">
    var data = {
      irrs: [<%= @report.monthly_irrs.html_safe %>],
      balances: [<%= @report.balances_in_period.html_safe %>]
    }

  </script>
  <div id="chart-container" data-show-account-target="chart"></div>
</section>
