<header class="settings">
  <h1>Cuentas</h1>

  <%= period_buttons %>
</header>

<% if @accounts.any? %>
<table class="all-accounts">
  <thead>
    <tr>
      <th></th>
      <th class="currency">Ganancias</th>
      <th class="currency">Transferido</th>
      <th class="currency">Saldo Actual</th>
    </tr>
  </thead>
  <tbody>
    <%= render @accounts %>
    <tr class="totals">
      <td>Total</td>
      <td class="currency"><%= currency @totals[:earnings], diff: true %></td>
      <td class="currency"><%= currency @totals[:transfers], diff: true %></td>
      <td class="currency"><%= currency @totals[:balance] %></td>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
<div class="info">Este reporte refleja las transferencias y rendimientos en el periodo seleccionado. Todas las cantidades están en MXN</div>
<% end %>

<section class="actions">
  <%= link_to 'Agregar', new_account_path %>
</section>
