<h1>Agregar cuenta</h1>

<%= form_for @account do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.select :currency, ["MXN", "USD"] %>
  </div>

  <%= f.button %>
<% end %>
