<header class="simple">
  <h1>Agregar Cuenta</h1>
</header>

<%= form_for @account, data: { controller: "account" } do |f| %>
  <div class="field">
    <%= f.label :account_type %>
    <%= f.select :account_type,
      Account.account_types.map { |type, i|
        [t("activerecord.attributes.account.account_types.#{type}"), type]
      }, {}, data: { target: "account.type", action: "change->account#change" } %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id="account_currency_field">
    <%= f.label :currency %>
    <%= f.select :currency, ["MXN", "USD"], {}, data: { target: "account.currency" } %>
  </div>

  <div class="field" id="account_settings_field" style="display: none;">
    <label for="account_settings_bitso_key">API Key</label>
    <input type="text"
           name="account[settings][bitso_key]"
           id="account_settings_bitso_key"
           data-target="account.apiKey"
           disabled>
    <label for="account_settings_bitso_secret">API Secret</label>
    <input type="text"
           name="account[settings][bitso_secret]"
           id="account_settings_bitso_secret"
           data-target="account.apiSecret"
           disabled>
  </div>

  <%= f.button %>
<% end %>

<section class="actions">
  <%= link_to 'Cancelar', accounts_path %>
</section>
