<header class="account-header">
  <h1><%= @report.account_name %></h1>
</header>
<% if @report.account_type == :investment %>
<%= render "accounts/investment_account_summary" %>
<%= render "accounts/investment_account_balances" %>
<% else %>
<%= render "accounts/regular_account_balances" %>
<% end %>

<%= will_paginate @report.balances(params[:page]), page_links: false, renderer: DineritosNavRenderer %>
