<% content_for(:title) { @report.account_name } %>
<%= render "accounts/account_header", current: "Resumen" %>
<% if @report.monthly_pnl.any? %>
<%= account_period_navigation %>

<section class="account-summary">
  <h2><%= account_period_title %></h2>

  <table>
    <tbody>
      <tr>
        <th>Saldo Inicial</th>
        <td><%= currency @report.starting_balance, zero: true %></td>
      </tr>
      <tr>
        <th>Depósitos</th>
        <td><%= currency @report.deposits, zero: true %></td>
      </tr>
      <tr>
        <th>Retiros</th>
        <td><%= currency @report.withdrawals, zero: true %></td>
      </tr>
      <tr>
        <th>Rendimientos</th>
        <td><%= currency @report.earnings, zero: true %></td>
      </tr>
      <tr>
        <th>Saldo Final</th>
        <td><%= currency @report.final_balance, zero: true %></td>
      </tr>
    </tbody>
  </table>
</section>

<table class="balance-sheet profit-and-loss">
  <thead>
    <tr>
      <th class="date">Mes</th>
      <th>Saldo Inicial</th>
      <th>Depósitos</th>
      <th>Retiros</th>
      <th>Rendimientos</th>
      <th>Saldo Final</th>
    </tr>
  </thead>

  <tbody>
    <% @report.monthly_pnl.each do |row| %>
    <tr>
      <td class="date"><%= link_to row.fetch(:month), account_movements_path(account_id: @report.account.id, month: row.fetch(:month)) %></td>
      <td class="currency" data-name="Saldo Inicial"><%= currency row.fetch(:initial_balance) %></td>
      <td class="currency" data-name="Depósitos"><%= currency row.fetch(:deposits), diff: true %></td>
      <td class="currency" data-name="Retiros"><%= currency row.fetch(:withdrawals), diff: true %></td>
      <td class="currency" data-name="Rendimientos"><%= currency row.fetch(:earnings), diff: true %></td>
      <td class="currency" data-name="Saldo Final"><%= currency row.fetch(:final_balance) %></td>
    </tr>
    <% end %>
    </tr>
  </tbody>
</table>
<% else %>
<div class="banner">
  <p>
    Aquí veras un detalle mensual de esta cuenta una vez que <%= link_to "agregues un saldo inicial", new_account_account_balance_path(@report.account) %>.
  </p>
</div>
<% end %>
